button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  &.outline {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
  }
  &.fill-primary {
    border: 1px solid var(--primary);
    color: white;
    background-color: var(--primary);
  }
  &.alert {
    color: white;
    background-color: var(--alert);
    border: 0;
  }
}
