.card {
  container-type: inline-size;
  &.character {
    cursor: pointer;
  }
  
  .wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    .details {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex: 1;
    }
    
    img {
      min-width: 150px;
      object-fit: contain;
      flex: 1;
    }
    
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer;
      svg {
        color: var(--primary);
        vertical-align: bottom;
      }
    }
    
    .desc {
      text-align: justify;
    }
  }
  
}

/* If the container is larger than 400px */
@container (width > 360px) {
  .card .wrapper {
    flex-direction: row;
    align-items: flex-start;
    img {
      max-height: min(324px,calc(100vh - var(--header-height) - 2rem));
    }
  }
}
