header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(rgb(0, 0, 0), #00000078);
  backdrop-filter: blur(5px);
  z-index: 10000;
  /* flex: 1 0 auto; */
  .container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    a {
      color: white;
      text-decoration: none;
      border: 1px solid transparent;
    }
    
    a:hover {
      cursor: pointer;
      color: var(--primary);
    }
    
    a.active {
      border-bottom: 1px solid var(--primary);
    }
  }
}
