header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(rgb(0, 0, 0), #00000078);
  backdrop-filter: blur(5px);
  z-index: 10000;
  /* flex: 1 0 auto; */
  .container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    a {
      color: white;
      text-decoration: none;
      border: 1px solid transparent;
    }
    
    a[href='/favorites'] {
      text-wrap: nowrap;
      svg {
        color: var(--primary);
        vertical-align: bottom;
      }
    }
    
    a:hover {
      cursor: pointer;
      color: var(--primary);
    }
    
    a.active {
      border-bottom: 1px solid var(--primary);
    }
    
    img {
      border-radius: 50px;
      width: 50px;
      height: 50px;
      border: 2px solid transparent;
      cursor: pointer;
    }
    
    img:hover {
      border-color: var(--primary);
    }
    
    .menu {
      position: relative;
    }
    
    .menu ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      right: 0;
      background-color: black;
      border: 1px dotted darkgray;
      padding: .2rem;
      li {
        padding: 0.2rem;
        text-wrap: nowrap;
        border-radius: .2rem;
      }
      
      li:hover {
        background-image: linear-gradient(color-mix(in oklab, var(--primary) 80%, #00000080 50%), color-mix(in oklab, var(--primary) 80%, #00000080 100%));
      }
      
      li:has(button):hover {
        background-image: none;
      }
    }
    
    .menu ul.close {
      display: none;
    }
    
  }
}
