.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

section {
  padding: 1rem;
}

.grid {
  /* @see https://css-tricks.com/books/greatest-css-tricks/flexible-grids/ */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cardList {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    position: sticky;
    top: var(--header-height);
    background-color: #00000078;
    label {
      flex: 3;
    }
    
    /* hack see https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome */
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(5px);
      z-index: -1;
    }
    
    label {
      position: relative;
      display: block;
      width: 100%;
      input {
        border: 0cap;
        border: 0;
        border-bottom: 1px solid darkgrey;
        z-index: 10000;
        background-color: transparent;
        color: white;
        width: 100%;
        outline: 0;
        line-height: 1.3rem;
        padding-bottom: 5px;
        & + svg {
          width: 1.3rem;
          height: 1.3rem;
          position: absolute;
          right: 0;
          background-color: var(--primary);
          fill: white;
          border-radius: 2rem;
          padding: 0.1rem;
        }
        
        &::placeholder {
          color: darkgray;
        }
      }
      
      .autocomplete {
        .menuAutocomplete {
          background-color: rgba(0, 0, 0, 0.464);
          top: 2.1rem;
          position: absolute;
          width: 100%;
          .itemAutocomplete {
            transition: 0ms;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            margin-bottom: .2rem;
            padding: 0.2rem;
            &.highlighted {
              background-image: linear-gradient(color-mix(in oklab, var(--primary) 80%, #00000080 50%), color-mix(in oklab, var(--primary) 80%, #00000080 100%));
            }
            &:hover {
              background-color: color-mix(in oklab, var(--primary) 80%, #00000080 80%);
            }
            &.selected {
              font-weight: 600;
            }
            
            img {
              border-radius: 50px;
              width: 50px;
            }
          }
          
          /* hack see https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome */
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            z-index: -1;
          }
        }
      }
    }
    
    .pages {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.2rem;
      border: 1px solid darkgrey;
      padding: 0.1rem 0.5rem;
      border-radius: 1rem;
      .pageNumber {
        
        padding: 0.1rem 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--primary);
        border-radius: var(--thumb-width);
        height: var(--thumb-width);
        font-size: calc(var(--thumb-width) * 0.8);
      }
      
      svg {
        cursor: pointer;
        &.disabled {
          cursor: default;
          color: rgb(75, 75, 75);
        }
      }
      
      /* @see https://www.swebdev.fr/blog/personnaliser-l-apparence-d-un-input-range-en-css */
      --track-height: 0px;
      --thumb-height: 1rem;
      --thumb-width: 1rem;
      input[type="range"] {
        appearance: none;
        background: transparent;
        width: 10rem;
        height: var(--track-height);
        cursor: ew-resize;
        flex: 1;
        border-bottom: 1px dashed var(--primary);
      }
      
      input[type="range"]::-moz-range-thumb {
        width: var(--thumb-width);
        height: var(--thumb-height);
        appearance: none;
        background: var(--primary);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 0;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        width: var(--thumb-width);
        height: var(--thumb-height);
        appearance: none;
        background: var(--primary);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 0;
      }
    }
  }
}

@media (width > 768px ) {
  .cardList nav {
    flex-direction: row;
    .pages .pageNumber{
      flex: 1;
    }
  }
}
