.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

section {
  padding: 1rem;
}

.grid {
  /* @see https://css-tricks.com/books/greatest-css-tricks/flexible-grids/ */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.charactersList {
  label {
    position: relative;
    display: block;
    padding-bottom: 1rem;
    position: sticky;
    top: max(5rem,60px);
    input {
      border: 0cap;
      border: 0;
      border-bottom: 1px solid white;
      background-color: rgba(0, 0, 0, 0.499);
      backdrop-filter: blur(5px);
      z-index: 10000;
      color: white;
      width: 100%;
      & + svg {
        position: absolute;
        right: 0;
      }
    }
    
    input::placeholder {
      color: darkgray;
    }
  }
}
