.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

section {
  padding: 1rem;
}

.grid {
  /* @see https://css-tricks.com/books/greatest-css-tricks/flexible-grids/ */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.charactersList {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    position: sticky;
    top: var(--header-height);
    background-color: #00000078;
    backdrop-filter: blur(5px);
    background-color: transparent;
    label {
      flex: 3;
    }
    
    label {
      position: relative;
      display: block;
      width: 100%;
      input {
        border: 0cap;
        border: 0;
        border-bottom: 1px solid darkgrey;
        z-index: 10000;
        background-color: transparent;
        color: white;
        width: 100%;
        outline: 0;
        line-height: 1.3rem;
        padding-bottom: 5px;
        & + svg {
          width: 1.3rem;
          height: 1.3rem;
          position: absolute;
          right: 0;
          background-color: var(--primary);
          fill: white;
          border-radius: 2rem;
          padding: 0.1rem;
        }
        
        &::placeholder {
          color: darkgray;
        }
      }
      
      &::after {
        display: block;
        content: " ";
        width: 0%;
        height: 1px;
        bottom: 0rem;
        background-color: white;
        position: absolute;
        transition: width .2s ease-in-out;
      }
      &:has(input:focus)::after {
        width: 100%;
        box-shadow: 0 0 5px 5px var(--primary);
      }
    }
    
    .pages {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.2rem;
      border: 1px solid darkgrey;
      padding: 0.1rem 0.5rem;
      border-radius: 1rem;
      .page {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--primary);
        border-radius: var(--thumb-width);
        width: var(--thumb-width);
        height: var(--thumb-width);
        font-size: calc(var(--thumb-width) * 0.8);
      }
      
      --track-height: 0px;
      --thumb-height: 1rem;
      --thumb-width: 1rem;
      input[type="range"] {
        appearance: none;
        background: transparent;
        width: 10rem;
        height: var(--track-height);
        cursor: pointer;
        flex: 1;
        border-bottom: 1px dashed var(--primary);
      }
      
      input[type="range"]::-moz-range-thumb {
        width: var(--thumb-width);
        height: var(--thumb-height);
        appearance: none;
        background: var(--primary);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 0;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        width: var(--thumb-width);
        height: var(--thumb-height);
        appearance: none;
        background: var(--primary);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 0;
      }
    }
  }
}

@media (width > 768px ) {
  .charactersList nav {
    flex-direction: row;
  }
}
