.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

section {
  padding: 1rem;
}

.grid {
  /* @see https://css-tricks.com/books/greatest-css-tricks/flexible-grids/ */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.charactersList {
  label {
    position: relative;
    display: block;
    padding-bottom: 1rem;
    position: sticky;
    top: max(5rem,60px);
    input {
      border: 0cap;
      border: 0;
      border-bottom: 1px solid darkgrey;
      background-color: rgba(0, 0, 0, 0.499);
      backdrop-filter: blur(5px);
      z-index: 10000;
      color: white;
      width: 100%;
      outline: 0;
      line-height: 1.3rem;
      padding-bottom: 5px;
      & + svg {
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        right: 0;
        background-color: var(--primary);
        fill: white;
        border-radius: 2rem;
        padding: 0.1rem;
      }
      
      &::placeholder {
        color: darkgray;
      }
    }
    
    &::after {
      display: block;
      content: " ";
      width: 0%;
      height: 1px;
      bottom: 1rem;
      background-color: white;
      position: absolute;
      transition: width .2s ease-in-out;
    }
    &:has(input:focus)::after {
      width: 100%;
      box-shadow: 0 0 5px 5px var(--primary);
    }
    
  }
}
